.citations-count {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-weight: bold;
}

.citations-count > div {
    display: none;
}

.badge {
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.citations-count-scopus {
    position: relative;
    top: 17px;
}

.citations-count img {
    max-width: 90%;
}

.citations {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.citations-list {
    margin-top: 30px;
}

.citations-list > div {
    margin: 15px 5px;
}

.citations-list a {
    overflow: hidden;
    white-space: nowrap;
}

.citations-list img {
    max-width: 80px;
}

.citations-table tr {
    margin: 0;
}