# @file
# .travis.yml - PKP Plugins Integration

os: linux
dist: xenial
language: php

branches:
    only:
        - master

addons:
    apt:
        update: true

php:
    - 7.2
    - 7.3
    - 7.4
env:
    - APPLICATION=ojs BRANCH=stable-3_2_1 TEST=mysql
    - APPLICATION=ojs BRANCH=stable-3_2_1 TEST=pgsql
    - APPLICATION=omp BRANCH=stable-3_2_1 TEST=mysql
    - APPLICATION=omp BRANCH=stable-3_2_1 TEST=pgsql
    - APPLICATION=ops BRANCH=stable-3_2_1 TEST=mysql
    - APPLICATION=ops BRANCH=stable-3_2_1 TEST=pgsql

install:
    # Prepare OJS/OMP environment
    - git clone -b ${BRANCH} https://github.com/pkp/${APPLICATION} ~/${APPLICATION}
    - cd ~/${APPLICATION}
    - git submodule update --init --recursive
    - source lib/pkp/tools/travis/prepare-tests.sh
    - lib/pkp/tools/travis/prepare-webserver.sh
    # Build/install dependencies
    - lib/pkp/tools/travis/install-composer-dependencies.sh
    - npm i g -npm && npm install && npm run build
    # Make sure we're using the current checkout of this repo rather than the built-in OJS/OMP version
    - rm -rf ~/${APPLICATION}/plugins/generic/citations
    - ln -s ${TRAVIS_BUILD_DIR} ~/${APPLICATION}/plugins/generic/citations
    # Install OJS/OMP & prep data environment
    - $(npm bin)/cypress run --spec "cypress/tests/data/10-Installation.spec.js,cypress/tests/data/20-CreateContext.spec.js"
script:
    - $(npm bin)/cypress run --config integrationFolder=plugins/generic/citations/cypress/tests
